@charset "UTF-8";


:root {
  --fonte-corpo: 'Inter', sans-serif;
  --fonte-titulo: 'Montserrat', sans-serif;
  /* Cores principais */
  --cor-azul: #315292;        /* cor de fundo para alguns elementos */
  --cor-texto-azul: #F1F5F9; /* cor de texto para o azul*/
  --cor-verde: #03A696; /* fundo secundário */
  --cor-laranja: #F27457;
}


* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: var(--cor-verde);
    overflow-x: hidden; 
}

header > nav > a {
  color: #04BF9D;
;
  text-decoration: none;
  font-size: 1.5em;
  font-family: var(--fonte-titulo);
  margin: 7px;
  padding: 4px;
  border-radius: 7px;
  background-color: #406dc9;
}

header > nav > a:hover {
  background-color: #081f4d;
  transition-duration: 1s;
}

nav {
  background-color: var(--cor-azul);
  padding: 15px;
}

main {
    margin: 0px 15px;
    background-color: rgb(255, 252, 246);
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

h1, h2, h3 {
    font-family: var(--fonte-titulo);
    margin-bottom: 30px;
}


section > p {
    font-family: var(--fonte-corpo);
    padding-left: 2px;
    margin-bottom: 30px;
}

h2,h3 {
    font-family: var(--fonte-titulo);
}
main > p {
    font-family: var(--fonte-corpo);
    padding-left: 2px;
    margin-bottom: 30px;
}

main a {
    text-decoration: none;
    text-align: left;
    font-weight: 900;
    color: #00ccb8;

}

main ul {
  text-align: left;
  list-style-position: inside; /* mantém as bolinhas alinhadas com o texto */
  margin-left: 30px; /* um pequeno recuo opcional */
  font-family: var(--fonte-corpo);
}


#contato {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* espaço entre o ícone e o texto */
}

#contato h1 {
  font-family: var(--fonte-titulo);
  margin: 0;
}

#contato svg {
  width: 32px;
  height: 32px;
  fill: #04BF9D; /* cor do ícone */
}

#curriculo {
    display: block;
    text-align: justify;
}

footer {
    font-family: var(--fonte-titulo);
    width: 100%;
    background-color: var(--cor-laranja);
    text-align: center;
    color: white;
    padding: 10px;
}
footer > p > a {
    text-decoration: none;
    font-weight: bold;
    color: bisque;
}

#apresentacao {
  font-family: var(--fonte-titulo);
  display: flex;
  align-items: center;
  gap: 10px; /* espaço entre imagem e texto */
  justify-content: center; /* ou left, se quiser alinhado à esquerda */
  margin-bottom: 10px;
}

#apresentacao img {
  width: 120px; /* tamanho pequeno tipo ícone */
  height: 110px;
  border-radius: 50%; /* deixa redondo */
  object-fit: cover; /* mantém o rosto centralizado */
}

main #c1 {
  margin-left: 20px;
  text-align: left;
}

main #c2 {
  margin-left: 20px;
  text-align: left;
}

.esq {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

iframe {
  max-width: 100%;
  max-height: 30vh ;
  margin-bottom: 20px;
}

#contmy {
  margin: 30px;
}

#con1, #con2 {
  margin-top: 20px;
  font-family: var(--fonte-corpo);
}

div {
  font-family: var(--fonte-titulo);
}