@charset "UTF-8";


:root {
  --fonte-corpo: 'Inter', sans-serif;
  --fonte-titulo: 'Montserrat', sans-serif;
  --cor-header: #1E3A8A;
  --cor-footer: #142B66;
  --cor-body: #E8F1FB;
  --cor-link: #00B6D6;
  --cor-hover: #0A58CA;
  --cor-texto: #1C1C1C;
  --cor-texto-secundario: #334155;
  --cor-link-nav: rgb(216, 216, 216);
}


* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: var(--cor-body);
    overflow-x: hidden; 
}

header {
  background-color: var(--cor-header);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; 
  overflow: hidden;
}

nav {
  width: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 900px; /* limite da largura total */
  width: 100%;
  padding: 0 8px; /* espaçamento lateral */
  box-sizing: border-box;
}

header > nav > a {
  color: var(--cor-link-nav);
  text-decoration: none;
  font-size: 1.3rem;
  font-family: var(--fonte-titulo);
  padding: 8px 12px;
  border-radius: 7px;
  background-color: #4f87cc;;
  box-shadow: 0px 1px 2px #00ccb854;
  text-align: center;
  flex: 1; 
  min-width: 0; 
  max-width: 180px; 
  transition: background-color 0.3s ease;
  width: 20vw;
  flex: 0 0 21.5%;     
  max-width: none;   /* remove limite */
}

/* nav continua flex */
header > nav {
  display: flex;
  justify-content: center;  /* ou space-between */
  align-items: center;
  gap: 10px;
  width: 100%;
}

header > nav > a:hover {
  background-color: var(--cor-hover);
  transition-duration: 0.4s;
  box-shadow: 0px 1px 8px 1px black;
}


main {
    margin: 0px 10px;
    background-color: #F9FBFF;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

h1 {
    font-family: var(--fonte-titulo);
    margin-bottom: 30px;
    color: var(--cor-texto);
}

main > h2{
    font-family: var(--fonte-titulo);
    margin-bottom: 30px;
    color: var(--cor-texto);
}

main > p {
    font-family: var(--fonte-corpo);
    padding-left: 2px;
    margin-bottom: 30px;
    color: var(--cor-texto-secundario);
}

section > p {
    font-family: var(--fonte-corpo);
    padding-left: 2px;
    margin-bottom: 30px;
    font-weight: 450;
    font-size: 1.2rem;
}

h2,h3 {
    font-family: var(--fonte-titulo);
}

main > section > p {
    font-family: var(--fonte-corpo);
    padding-left: 2px;
    margin-bottom: 30px;
    color: var(--cor-texto-secundario);
}

main a {
    text-decoration: none;
    text-align: left;
    font-weight: 900;
    color: #2563EB;
}

main ul {
  text-align: left;
  list-style-position: inside; /* mantém as bolinhas alinhadas com o texto */
  margin-left: 30px; /* um pequeno recuo opcional */
  font-family: var(--fonte-corpo);
}


#contato {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* espaço entre o ícone e o texto */
}

#contato h1 {
  font-family: var(--fonte-titulo);
  margin: 0;
}

#contato svg {
  width: 32px;
  height: 32px;
  fill: #04BF9D; /* cor do ícone */
}

#curriculo {
    display: block;
    text-align: justify;
}

footer {
    font-family: var(--fonte-titulo);
    width: 100%;
    background-color: #142B66;
    text-align: center;
    color: var(--cor-link-nav);
    padding: 10px;
}
footer > p > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#apresentacao {
  font-family: var(--fonte-titulo);
  display: flex;
  align-items: center;
  gap: 10px; /* espaço entre imagem e texto */
  justify-content: center; /* ou left, se quiser alinhado à esquerda */
  margin-bottom: 10px;
}

#apresentacao img {
  width: 120px; /* tamanho pequeno tipo ícone */
  height: 110px;
  border-radius: 50%; /* deixa redondo */
  object-fit: cover; /* mantém o rosto centralizado */
}

main #c1 {
  margin-left: 20px;
  text-align: left;
}


main #c2 {
  margin-left: 20px;
  text-align: left;
}


.esq {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

iframe {
  max-width: 100%;
  max-height: 30vh ;
  margin-bottom: 20px;
}

#contmy {
  margin: 30px;
}

#con1, #con2 {
  margin-top: 20px;
  font-family: var(--fonte-corpo);
}

div {
  font-family: var(--fonte-titulo);
}

.buscador {
  max-width: 75vw;
  height: 60vh; /* altura proporcional à tela */
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  box-align: center;
}


 #projeto {
  background-color: #d8e0ee;
}

/* Responsividade */
@media (max-width: 1024px) {
  header > nav > a {
    font-size: 1.1rem;
    padding: 8px 12px;
  }
}


@media (max-width: 768px) {
  header > nav > a {
    font-size: 1.2rem;
    padding: 20px 0px;
    width: 23vw;
    flex: 0 0 24%;     
    max-width: none; 
  }

  header {
    height: 90px;
  }
}

@media (min-width: 768px) {
  header > nav > a {
    font-size: 1.2rem;
    padding: 10px 0px;
    width: 23vw;
    flex: 0 0 24%;     
    max-width: none; 
  }

  header {
    height: 70px;
  }

  nav {
    padding: 0 5px;
    margin: 0px;
  }
}

@media (max-width: 550px) {
  header > nav > a {
    font-size: 1.2rem;
    padding: 30px 1px 30px 3px;
    width: 23vw;
    flex: 0 0 22.5%;     
    max-width: none; 
}

   header {
    height: 130px;
   }

    #buscador {
    width: 100vw;       
    max-width: 100%;    
    height: 400px;      
    margin: 0;
    border: 0;
    padding: 3px;
  }

  main {
    margin: 0;
    padding: 20px 0;
    width: 100%;
  }

  main #c1 {
    margin-left: 3px;
  }

  main #c1, .esq {
    margin-left: 3px;
  }

  main #c2 {
    margin-left: 1px;
  }
  div#contmy {
    margin-left: 3px;
  }
}

@media (min-width: 800px) {
  header > nav {
    width: 100%;      
    max-width: none;   
    padding-left: 0;   
    padding-right: 0;
    justify-content: center; 
    gap: 10px;         
  }
}

@media (min-width: 1080px) {
  header > nav {
    display: inline-block;             
    width: 100%;     
    margin: 3px;         
  }

  header {
    height: 57px;
  }

  header > nav > a {
    margin: 3px;        
    font-size: 1.25rem;
    text-align: center;
    padding: 6px 10px;
  }

  main {
    margin-right: 4vw;
    margin-left: 4vw;
  }

  #buscador {
    width: 30vw;
    max-width: 40%;
    height: 400px;
    margin: 0;
    border: 0;
    overflow: hidden;
  }
}
